
*
{
    margin:0;
    padding:0;
     box-sizing: border-box;
     font-family:'poppins', 'OPEN SANS',sans-serif;

}


.content
{
  
 /* text-shadow: rgba(255, 0, 0, 0.61) 1px 0 10px; */
  
  color: rgba(122, 214, 142, 0.712);
}


      body{

      display:flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      min-height: 100vh;
      
      }

            .square
            {

                position:relative;
                width:400px;
                height:400px;
                display:flex;
                justify-content: center;
                align-items:center;
            }

             .square span:nth-child(1)
             {
                
                  position:absolute;
                  top:0;
                  left:0;
                  width:100%;
                  height:100%;
                  border:2px solid #fff;
                  border-radius:38% 62% 63% 37% / 41% 44% 56% 59%;
                  transition:0.5s;
                  animation: animate 6s linear infinite;
             }


                .square:hover span:nth-child(1)
                {
 
                    border:none;
                    background:rgba(0,0,255,0.8);

                }

     .square span:nth-child(2)
             {
                
                  position:absolute;
                  top:0;
                  left:0;
                  width:100%;
                  height:100%;
                  border:2px solid #fff;
                  border-radius:38% 62% 63% 37% / 41% 44% 56% 59%;
                  transition:0.5s;
                  animation: animate 4s linear infinite;
             }


                .square:hover span:nth-child(2)
                {
 
                    border:none;
                    background:rgba(0,0,255,0.8);
                    
                }



                .square span:nth-child(3)
             {
                
                  position:absolute;
                  top:0;
                  left:0;
                  width:100%;
                  height:100%;
                  border:2px solid #fff;
                  border-radius:38% 62% 63% 37% / 41% 44% 56% 59%;
                  transition:0.5s;
                  animation: animate2 10s linear infinite;
             }


                .square:hover span:nth-child(3)
                {
 
                    border:none;
                    background:rgba(0,0,255,0.8);
                    
                }


                     @keyframes animate
                     {
                       
                        0%
                        {
                           transform: rotate3d(45deg);
                        }

                        100%
                        {

                          transform: rotate3d(80deg);
                        }
                     }


                     @keyframes animate2
                     {
                       
                        0%{
                           transform:rotate3d(80deg);
                        }

                        100%
                        {

                           transform:rotate3d(45deg);
                        }
                     }





        .box
        {

       position:relative;
       width:300px;
       height:300px;
       display: flex;
       justify-content: center;
       align-items: center;
       margin: 40px;
       transition: 0.5s;
        }

       .box.imgBx
       {
          position: absolute;
          top:0;
          left:0;
          width:100%;
          height: 100%;
          padding: 10px;
          box-sizing: border-box;

       }

     .box.imgBx img{

      max-width: 100%;
      opacity: 0.1;
      transition: 0.5s;      
     }

     .box:hover.imgBx img
     {
        
       opacity:1;
     }

        .box:before
        {

       
     
         content: "";
         position: absolute;
         top: -2px;
         left:-2px ;
         right:-2px ;
         bottom: -2px;
           background: #fff;
         z-index: -1;
        }


        .box:after
        {
         content: "";
         position: absolute;
         top: -2px;
         left:-2px ;
         right:-2px ;
         bottom: -2px;
           background: #fff;
         z-index: -2;
         filter: blur(40px);

        }

          .box:before,
          .box:after
          {

            background:linear-gradient(235deg,#89ff00,#010615,#00bcd4);
          }


          .box:nth-child(2):before,
          .box:nth-child(2):after{
        
         background:linear-gradient(235deg,#ff005e,#010615,#fbff00);
          }

        .box:nth-child(3):before,
        .box:nth-child(3):after 
        
        {

                 

           background: linear-gradient(235deg,#772aff,#010615,#2196f3);
        }

        .box .content
        {

          position: absolute;
          bottom: 0;
          left:10px ;
          right:10px ;
          bottom:10px ;
          height:90px ;
          background: rgba(0,0,0,0.4);
          display: flex;
          justify-content: center;
          align-items: center;
          opacity: 0;
          transition: 0.5s;
        }



        .box:hover .content
        {
          
          opacity: 1;

        }

           box.content h2{
         
           font-size: 20px;
           color: #fff;
           font-weight: 500;
           line-height:20px;
           letter-spacing:1px;
           }

           box.content h2 span
           {
         
            font-size:14px;
            color: #fff;
             font-weight: 200;
            letter-spacing:2px;
           }




header
    {
       position:absolute;
       top:0;
       left:0;
       width:100%;
       display:flex;
       justify-content:space-between;
       padding:40px 100px;
       z-index:10000;
     
    }

header .logo{

          position:relative;
          font-weight:700;
          color:#fff;
          text-decoration:none;
          font-size:2em;
          text-transform:uppercase;
          letter-spacing:2px;
          transition: 0.6s;

}

  header #toggle
  {
   
   position:relative;
   width:30px;
   height:30px;
   cursor:pointer;
  }
  header #toggle:before
  {
     
     content:'';
     position:absolute;
     top:7px;
     width:100%;
     height:2px;
     background:#fff;
  }
  
   header #toggle:after
  {
     
     content:'';
     position:absolute;
     bottom:7px;
     width:100%;
     height:2px;
     background:#fff;
  }
  
  
    .banner
    {
      position:relative;
      width:100%;
      min-height:100vh;
      padding:100px;
      background-size:cover;
      display:flex;
      align-items:center;
    }

       section
       {

         padding:50px;
         background:#000;

       }

        section h2
        {
        font-size:2.5em;
        color:#fff;
        
        }

        section p
        {
            font-size:1.2em;
            color:#fff;
        }

::-webkit-scrollbar
{

   width:0;

}



    #scrollpath
    {
       position:fixed;
       top:0;
       right:0;
       width:10px;
       height:100px;
       background:rgba(255,255,255,0.05);
    }
   
   #progressbar
   {
      
        position:fixed;
        top:0;
        right:0;
        width:10px;
        height:100%;
        background:linear-gradient(to top,#008aff,#00ffe7);
        animation:animate 5s linear infinite;
   }
   
@keyframes animate
{

      0%,100%
      {
         filter:hue-rotate(0deg);
      }
        
      50%
      {
         filter:hue-rotate(360deg);

      }
}
      #progressbar::before
      {
        
         content:"";
         position:absolute;
         top:0;
         left:0;
         width:100%;
         height:100%;
         backgrond:linear-gradient(to top,#008aff,#00ffe7);
         filter:blur(10px);
      }
      
      #progressbar::after
      {
        
         content:"";
         position:absolute;
         top:0;
         left:0;
         width:100%;
         height:100%;
         backgrond:linear-gradient(to top,#008aff,#00ffe7);
         filter:blur(30px);
      }





      *
{
padding:0;
margin:0;
font-family: 'poppins', 'sans-serif';

}
 body{
            display:flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
           
            overflow: auto;

 }



     ul{
          
        position: relative;
        display: flex;
        flex-direction:column;
     }



          
        ul li{

                 list-style: none;

        }





        ul li:before{



         content:attr(data-text);
           position: absolute;
             top:50%;
              left:50%;
                transform: translate(-50%,-50%);
                    
                color:#fff;
                   font-size: 6em;
                    font-weight: 700;
                   pointer-events: none;
                         opacity: 0;
                            transition: 0.5s;
                              letter-spacing: 20px;
                                  white-space: nowrap;

        }

             ul li:hover:before
             {
                opacity: 0.05;
                letter-spacing: opx;


             }







        ul li a{
    position: relative;
    display: inline-block;
    padding: 6px 15px;
    text-decoration: none;
    background: #2196f3;
    color:#fff;
      text-transform: uppercase;
                  letter-spacing: 2px;
                                   overflow: auto;
                                         transition: 0.5s;
                                                             z-index: 1;
        }

       ul:hover li a{

          opacity: 0;
          

       }



        ul li a:hover{
                      transform: scale(1.4);
                        z-index:1000;
                        background: #ff3f81;
                         opacity: 1;

        }



              ul li a:before{
             
                  content: '';
                   position: absolute;
                    top:0;
                    left:-100px;
                    width: 80px;
                     height: 100%;
                     background: linear-gradient(90deg,transparent,rgba(255,255,255,0.8),transparent);
                           transform: skew(35deg);
                               transition: 0s;



              }


            ul li a:hover::before{

               left: calc(100% + 100px);
                 transition: 0.5s;
                    
                 transition-delay: 0.2s;



            }




            *
            {
                 
                margin:0;
                padding:0;
                box-sizing: border-box;
                   
            }

               
            body{

                        background: BLACK;
                         display: flex;
                         justify-content: center;
                               align-items: center;
                            min-height: 100vh;


            }




        .menu-btn
        {

         position: relative;
           display: flex;
              justify-content: center;
                  align-items: center;
                     width: 80px;
                      height: 80px;
                        cursor: pointer;
                           transition: all .5s ease-in-out;
                               /* border:3px solid #fff; */



        }


              .menu-btn__burger
              {

                    width: 50px;
                     height: 6px;
                       background: #fff;
                               border-radius: 5px;
                                box-shadow: 0 2px 5px rgba(255,101,47, .2);
                                  transition: all .5s  ease-in-out;



              }


                   .menu-btn__burger:before,
                   .menu-btn__burger:after{

                         content:'';
                           position: absolute;
                           width: 50px;
                                height: 6px;
                                     background:#fff ;
                                        border-radius: 5px;
                                           box-shadow: 0 2px  5px rgba(255,101,47, .2);
                                            transition: all .5s ease-in-out;

                   }

                        .menu-btn__burger:before {

                                                      
                                                    transform: translateY(-16px);


                        }



                           .menu-btn__burger:after{


                                                         transform: translateY(16px);
                           }
                              
                              /*ANIMATION */
                                .menu-btn.open .menu-btn__burger 
                                
                                {



    

transform: translateY(-50px);
 background: transparent;
 box-shadow: none;

                                }



                                





                              
                                .menu-btn.open .menu-btn__burger:before{

                                 



transform: rotate(45deg) translate(35px, -35px);




                                }

















                                .menu-btn.open .menu-btn__burger:after 
                                
                                {



transform: rotate(-45deg) translate(35px, 35px);




                                }



                                 .footer
                                 {background: cyan}




                                 
                                *{

 margin: 0;
  padding: 0;
   box-sizing: border-box;
    font-family: sans-serif, 'poppins';

                                }     

                                  

                                  .poster
                                  {
                                     position:relative;
                                      width: 100%;
                                       height: 100vh;
                      background: url("https://i.pinimg.com/originals/de/63/10/de631076fbe024915a1b84116c24a682.jpg");
                       background-size: cover;
                       background-position: bottom;
                                  }

section{

 position: relative;
 padding: 75px 100px;

}
section h2{
   
   font-size:2.5em;
   margin-bottom: 20px;

}
